* {
    margin: 0;
    padding: 0;
    /* font-family: 'Roboto', sans-serif; */
}

#christmas {
    max-height: 100%;
    max-width: 100%;
}

#flyerDiv {
    padding: 0;
    height: 100vh;
}

#signInForm {
    position: relative;
    right: 5%;
    left: 13%;
    width: 550px;
    margin-top: 200px;
}

#logo {
    height: 100px;
}

#btn {
    font-weight: bold;
    margin-top: 30px;
    width: 280px;
    border-radius: 25px;
    background-color: #b0331f;
}

nav {
    background-color: 	#fff8dc;
    height: 80px;
}

nav div a {
    margin-top: 10px;
}

#btnNav {
    border-radius: 25px;
    width: 100px;
    background-color: #b0331f;
    margin-top: 20px;
}

#btnCart {
    border-radius: 25px;
    width: 50px;
}

#cart {
    height: 10px;
    padding: 0;
}

ul li a {
    color: #494942;
    font-size: 20px;
    font-weight: lighter;
}

#navWrapper {
    padding-left: 40px;
    padding-right: 40px;
}
/* 
.navbar {
    position: fixed;
    top: 0; 
    width: 100%;
}  */

#card1 {
    border-radius: 20px;
}

#section1 {
    background-color: 	#DCDCDC;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    border-radius: 25px;
    margin-left: 70px;
    margin-right: 70px;
}

#section2 {
    margin-top: 30px;
    background-color: 	#4A0404;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 50px;
    border-radius: 25px;
    margin-left: 70px;
    margin-right: 70px;
    margin-bottom: 80px;
}

#footer {
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 50px;
    padding-bottom: 10px;
    margin-bottom: 0px;
}

footer div h6 {
    font-weight: bolder;
}

footer div p {
    margin-bottom: 20px;
}

footer span {
    margin-right: 50px;
}

#credits {
    margin-top: 50px;
}
/* 
#product{
    transition: transform .2s;
    overflow: hidden;
}

#product:hover {
    transform: scale(1.5);
} */
